<div class="nav">
	<button ng-click="changeRF()" ng-if="!registerFlag && !isConnected"
		class="defaultButton">Register</button>
	<button ng-click="changeCF()" ng-if="!connectionFlag && !isConnected"
		class="defaultButton">Connect</button>
	<button ng-click="createForm()" ng-if="isConnected"
		class="defaultButton">Create Form</button>

	<button ng-click="showForms()" ng-if="isConnected"
		class="defaultButton">Manage my forms</button>
	<button onclick="location.href = '/#/mcq'" ng-if="isConnected"
		class="defaultButton">Access to Online MCQ's</button>
	<button ng-click="disconnect()" ng-if="isConnected"
		class="defaultButton">Disconnect</button>
</div>

<div ng-if="registerFlag && !isConnected">
	New user : <br />
	<form name="myForm">
		Name : <input type="text" name="name" ng-model="newUserName" required />
		<span class="error" ng-show="myForm.name.$error.required"> Name
			is required. </span><br> Last Name: <input type="text" name="lastname"
			ng-model="newUserLastName" required /> <span class="error"
			ng-show="myForm.lastname.$error.required"> Last name is
			required. </span><br> Login : <input type="text" name="Login"
			ng-model="newLogin" ng-minlength="6" required /> <span class="error"
			ng-show="myForm.Login.$error.required"> Login is required. </span> <span
			class="error" ng-show="myForm.Login.$error.minlength"> Login
			is too short, min 6 chars.</span><br> Password : <input
			ng-model="newPassword" name="pass" type="password" required
			ng-minlength="6" /> <span class="error"
			ng-show="myForm.pass.$error.required"> Password is required.
		</span> <span class="error" ng-show="myForm.pass.$error.minlength">
			Password is too short, min 6 chars.</span><br>

		<button ng-if="myForm.$valid"
			ng-click="create(newUserName,newUserLastName,newLogin,newPassword)">Create</button>
		{{errorCreateUser}}
	</form>
</div>

<div ng-if="connectionFlag && !isConnected">
	<form name="formConnection">
		<input type="text" name="login" ng-model="Login" required /> <span
			class="error" ng-show="formConnection.login.$error.required">
			Login is required. </span><br> <input type="password" name="password"
			ng-model="Password" required /> <span class="error"
			ng-show="formConnection.password.$error.required"> Password is
			required. </span><br>

		<button ng-if="formConnection.$valid"
			ng-click="connect(Login,Password)">Connect</button>
		{{errorConnection}}
	</form>
</div>

<div ng-if="isConnected">

	<div ng-if="createFormFlag">
		<form>
			Ajouter un formulaire : <input type="text" required="required"
				ng-model="nameNewForm" /> <br />

			<button type="submit" ng-click="addNewForm(nameNewForm)">Create</button>
		</form>

	</div>
	<div ng-if="showFormFlag">
		<ul>
			Edit :
			<li ng-repeat="form in actualUser.forms">
				<button ng-click="chooseForm(form)">{{form.formName}}</button>
			</li>
		</ul>
		<ul>
			Set Online :
			<li ng-repeat="form in actualUser.forms">
				<button ng-click="changeOnlineForm(form)">{{form.formName}}
					{{form.online}}</button>
			</li>
		</ul>
		<ul>
			Preview :
			<li ng-repeat="form in actualUser.forms">
				<button ng-click="accessPreview(form)">{{form.formName}}</button>
			</li>
		</ul>
	</div>
	<div ng-if="choosedFormFlag">
		<form>
			Add Question : <input type="text" ng-model="quest.question" /> <br />
			Answer 1 : <input type="text" ng-model="quest.answers[0]"
				required="required" /> <input type="checkbox"
				ng-model="checkboxModel.value1" ng-true-value="1" ng-false-value="0" />
			<br /> Answer 2 : <input type="text" ng-model="quest.answers[1]"
				required="required" /> <input type="checkbox"
				ng-model="checkboxModel.value2" ng-true-value="1" ng-false-value="0" />
			<br /> Answer 3 : <input type="text" ng-model="quest.answers[2]" />
			<input type="checkbox" ng-model="checkboxModel.value3"
				ng-true-value="1" ng-false-value="0" /> <br /> Answer 4 : <input
				type="text" ng-model="quest.answers[3]" /> <input type="checkbox"
				ng-model="checkboxModel.value4" /> <br />
			<button type="submit" ng-click="addQuestion(quest,checkboxModel)"
				ng-true-value="1" ng-false-value="0" />
			Add
			</button>
		</form>
		{{errorQuestion}}
		<button ng-click="chooseForm(form)">Stop Editing</button>
	</div>

</div>
