<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8" />
<title>Hello Spring</title>
</head>



<body>

	
<div th:each = "f : ${formList}"  th:text="${f.nameForm} + ' qui a pour id : ' + ${f.id}">

</div>
	<form method="post" th:action="@{/addform}">
		Creer un formulaire : <br />
		<input type="text"	th:object="${form}" th:field="*{nameForm}" required="required" />
		<br /> <input type="submit" value="Add Form" />
	</form>

	<form th:action="@{/chooseForm}" method="GET">
	<select th:field="*{form.id}">
		<option th:each="frm : ${formList}" th:value="${frm.id}"
			th:text="${frm.nameForm}"></option>
	</select>
	 		 <button type="submit" name="action" value="choose">choose</button>
     <button type="submit" name="action" value="delete">delete</button>
</form>
</body>
</html>
